
.btnSwipe{
    display: flex; 
    width: 100% ;
    position: fixed ;
    bottom: 1vh;
    justify-content: space-evenly;
}

.btnSwipe .MuiIconButton-root{
    background-color: rgba(79, 155, 218, 0.918) ;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.356);
}

.btnSwipe_replay{
    padding: 3vw !important;
    color: orange !important;
}
.btnSwipe_close{
    padding: 3vw !important;
    color: red !important;
}
.btnSwipe_fav{
    padding: 3vw !important;
    color: blue !important;
}
.btnSwipe_flash{
    padding: 3vw !important;
    color: pink !important;
}
.btnSwipe_star{
    padding: 3vw !important;
    color: yellow !important;
}