.indvChat_mensaje{
    display: flex;
    align-items: center;
    padding: 20px;
}

.indvChat_Received{
    margin-left: 10px;
    background-color: lightskyblue;
    border-radius: 20px;
    padding: 15px;
}

.indvChat_time{
    text-align: center;
    padding: 20px;
    color: gray;
}

.indvChat_Sent{
    background-color: rgb(235, 194, 142);
    margin-left: auto;
    padding: 15px;
    border-radius: 20px;
    color: black;
}

.indvChat_input{
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightblue;
}

.indvChat_inputIntput{
    padding: 10px;
    width: 20px;
    flex: 1;
    border: none;
}

.indvChat_inputSend{
    border: none;
    background-color: rgb(10, 104, 185);
    margin-right: 20px;
    border-radius: 20px;
    color: white;
    width: 130px;
    font-weight: bold;
}